@model AzureDevOpsMVC.Models.BranchDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BranchDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AheadCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AheadCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BehindCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BehindCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommitId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commiter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
