@model IEnumerable<AzureDevOpsMVC.Models.CommitsData>

@{
    ViewData["Title"] = "ShowCommitData";
}

<h1>ShowCommitData</h1>

    <form asp-action="ShowCommitDataFilter" class="form-inline">
        <div class="form-group">
            <div style="float:left;margin-right:20px;">
                <label for="StartDate">Start Date</label>
                &nbsp;&nbsp;
                <input type="datetime-local" style="font-size:15px;" min="2008-06-07T00:00" max="2018-06-14T00:00" name="StartDate" />
            </div>
            <div style="float:left;margin-right:40px;">
                <label for="EndDate">End Date</label>
                &nbsp;&nbsp;
                <input type="datetime-local" style="font-size:15px;" min="2008-06-07T00:00" max="2018-06-14T00:00" name="EndDate" />
            </div>
            @*<div style="float:left;">
                <lable for="EndDate">End Date </lable>
                &nbsp;&nbsp;
                <input type="datetime-local" min="2008-06-07T00:00" max="2022-06-14T00:00" name="EndDate" style="font-size:15px;" />*@
            <div style="float:left;margin-right:50px">
                <label for="Submit"></label><br />
                 <input type="submit" id="Submit" value="Submit" />
            </div>

            </div>
        

</form>
<br />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deletes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemoteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deletes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemoteUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                   
                    <a asp-action="DetailsUserChanges" asp-controller="UserCommit" asp-route-id="@item.CommitId">Details</a> 
                    
                </td>
            </tr>
        }
    </tbody>
</table>
